<div class="container">
  <center><h2>Kejar Ver. Alpha</h2></center>
  <br>
  <%= link_to 'Kembali', students_path, class: 'btn btn-primary' %>
  <br>
  <br>
  <div class="card">
    <div class="card-header">
     Edit Student
    </div>
    <div class="card-body">
    <%= form_for(@student) do |f| %>
        <div class="form-group">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :username, class: "form-label" %>
          <%= f.text_field :username, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :age, class: "form-label" %>
          <%= f.text_field :age, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :kelas, class: "form-label" %>
          <%= f.text_field :kelas, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :address, class: "form-label" %>
          <%= f.text_field :address, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :city, class: "form-label" %>
          <%= f.text_field :city, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label 'NIK', class: "form-label" %>
          <%= f.text_field :nik, class: "form-control col-md-4", required: true  %>
          <%# <%= select_tag(:nik, options_for_select(@teacherList), class: "form-control col-md-4") %>
        </div>

        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
    </div>
    <br>
</div>