<div class="container">
  <center><h2>Kejar Ver. Alpha</h2></center>
  <br>
  <h3>List Siswa</h3>
  <br>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</td>
        <th scope="col">Username</td>
        <th scope="col">Age</td>
        <th scope="col">Class</td>
        <th scope="col">Address</td>
        <th scope="col">City</td>
        <th colspan="3" scope="col">Action</td>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.username %></td>
        <td><%= student.age %></td>
        <td><%= student.kelas %></td>
        <td><%= student.address %></td>
        <td><%= student.city %></td>
        <td><%= link_to 'Detail', student_path(student.id) %></td>
        <td><%= link_to 'Hapus', student_path(student.id), :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
        <td><%= link_to 'Edit', edit_student_path(student.id) %></td>
      </tr>
      <% end %>
      <% if @students.length < 1 %>
        <tr>
          <td colspan="9"><center>Data Kosong.</center> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <td><%= link_to 'New Student', new_student_path, class: 'btn btn-primary' %></td>
</div>