
<div class="container">
  <center><h2>Kejar Ver. Alpha</h2></center>
  <br>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title"><%= @student.name %></h5>
    </div>
    <div class="card-body">
      <p class="card-text">Username: <%= @student.username %> </p>
      <p class="card-text">Age: <%= @student.age %> </p>
      <p class="card-text">Class: <%= @student.kelas %> </p>
      <p class="card-text">Address: <%= @student.address %> </p>
      <p class="card-text">City: <%= @student.city %> </p>
      <p class="card-text">NIK: <%= @student.nik %> </p>
      <%= link_to 'Kembali', students_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>