<div class="container">
  <center><h2>Kejar Ver. Alpha</h2></center>
  <br>  
  <h3>Menu</h3>
  <br>
  <%= link_to 'Students', students_path, class: 'btn btn-primary' %>
  <%= link_to 'Exams', exams_path, class: 'btn btn-primary' %>
</div>