<div class="container">
  <center><h2>Kejar Ver. Alpha</h2></center>
  <br>
  <h3>List Siswa</h3>
  <br>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Title</td>
        <th scope="col">Mapel</td>
        <th scope="col">Duration</td>
        <th scope="col">Nilai</td>
        <th scope="col">Active Status</td>
        <th scope="col">Level</td>
        <th colspan="3" scope="col">Action</td>
      </tr>
    </thead>
    <tbody>
      <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.title %></td>
        <td><%= exam.mapel %></td>
        <td><%= exam.duration %></td>
        <td><%= exam.nilai %></td>
        <td><%= exam.active_status %></td>
        <td><%= exam.level %></td>
        <td><%= link_to 'Detail', exam_path(exam.id) %></td>
        <td><%= link_to 'Hapus', exam_path(exam.id), :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
        <td><%= link_to 'Edit', edit_exam_path(exam.id) %></td>
      </tr>
      <% end %>
      <% if @exams.length < 1 %>
        <tr>
          <td colspan="9"><center>Data Kosong.</center> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <td><%= link_to 'New Exam', new_exam_path, class: 'btn btn-primary' %></td>
</div>