<div class="container">
  <center><h2>Kejar V4</h2></center>
  <br>
  <%= link_to 'Kembali', students_path, class: 'btn btn-primary' %>
  <br>
  <br>
  <div class="card">
    <div class="card-header">
     Add New Exam
    </div>
    <div class="card-body">
    <%= form_for(@exam) do |f| %>
        <div class="form-group">
          <%= f.label :title, class: "form-label" %>
          <%= f.text_field :title, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :mapel, class: "form-label" %>
          <%= f.text_field :mapel, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :duration, class: "form-label" %>
          <%= f.text_field :duration, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :nilai, class: "form-label" %>
          <%= f.text_field :nilai, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :active_status, class: "form-label" %>
          <%= f.text_field :active_status, class: "form-control col-md-4", required: true  %>
        </div>

        <div class="form-group">
          <%= f.label :level, class: "form-label" %>
          <%= f.text_field :level, class: "form-control col-md-4", required: true  %>
          <%# <%= select_tag(:nik, options_for_select(@teacherList), class: "form-control col-md-4") %>
        </div>

        <div class="form-group">
          <%= f.label :student_id, class: "form-label" %>
          <%= f.text_field :student_id, class: "form-control col-md-4", required: true  %>
        </div>

        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
    </div>
    <br>
</div>