
<div class="container">
  <center><h2>Kejar Ver. Alpha</h2></center>
  <br>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title"><%= @exam.title %></h5>
    </div>
    <div class="card-body">
      <p class="card-text">Mapel: <%= @exam.mapel %> </p>
      <p class="card-text">Nilai: <%= @exam.nilai %> </p>
      <p class="card-text">Status Active: <%= @exam.active_status %> </p>
      <p class="card-text">Level: <%= @exam.level %> </p>
      <p class="card-text">Student ID: <%= @exam.student_id %> </p>
      <%= link_to 'Kembali', exams_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>